.container{
    #content{
        #cart{
            width:100%;
            height:100%;
            display:flex;
            flex-direction:column;
            .header{
                width:100%;
                height:40px;
                border-bottom:1px solid #999;
                text-align:center;
                line-height:40px;
                font-size:16px;
                position:relative;
                a{
                    color:black;
                }
                i{
                    float:left;                  
                    margin-left:10px;
                    &:nth-child(1){
                        font-weight:bold;       
                    }
                    &:nth-child(2){
                        font-size:20px;
                        margin-left:14px;
                    }
                }
                span{
                    font-size:14px;
                    float:right;
                    margin-right:10px;                   
                    #edit{
                        display:none;
                        position:absolute;
                        background:#fff;
                        bottom:0;
                        right:0;
                        &.uzi{
                            display:block;
                        }
                    }
                }
                #middle{
                    margin-right:43%;
                    font-size:16px;
                    color:black;
                }
            }
            
            .content{
                flex:1;
                width:100%;
                overflow:auto;
                background:#F1F1F1;
                padding-top:17px;
                padding-bottom:17px;
                #empty{
                    width:200px;
                    height:300px;
                    margin:80px auto;
                    img{
                        width:100px;
                        margin-left:60px;
                        margin-bottom:25px;
                    }
                    p{
                        text-align:center;
                        color:#777;
                    }
                    .guang{
                        width:200px;
                        height:45px;
                        border:1px solid #E5004F;
                        border-radius:10px;
                        text-align:center;
                        line-height:45px;
                        color:#E5004F;    
                        margin-top:30px;             
                    }
                }
                .contents{
                    width:100%;
                    height:107px;
                    background:#fff;
                    border-bottom:1px solid #bbb;
                    padding:10px 8px;
                    display:flex;
                    position:relative;
                    &:nth-child(1){
                        border-top:1px solid #bbb;
                    }
                    div{
                       &.left{
                            width:7%;
                            height:100%;
                            span.select{
                                display:block;
                                width:18px;
                                height:18px;
                                border:1px solid #aaa;
                                border-radius:50%;
                                margin-top:34px;
                                div.b{
                                    width:10px;
                                    height:10px;
                                    background:#E5004F;
                                    margin:3px;
                                    border-radius:50%;
                                    display:none;
                                    &#reddot{
                                        display:block;
                                    }
                                }
                            }
                        } 
                       &.center{
                          width:17%;
                          height:100%;
                          border:1px solid #bbb;
                          margin-right:10px;
                          img{
                              width:62px;
                          }
                       } 
                       &.right{
                          width:79%;
                          height:100%;
                          .name{
                              width:100%;
                              height:50%;
                              overflow:hidden;
                          }
                          .color{
                              font-size:14px;
                              color:#666;
                              span{
                                  font-size:12px;
                              }
                          }
                          .price{
                              span{
                                  &:first-child{
                                      font-size:16px;
                                      font-weight:bold;
                                  }
                                  &:last-child{
                                      float:right;
                                      font-size:15px;
                                  }
                              }                              
                          }
                       } 
                       &.revise{
                           position:absolute;
                           background:#fff;
                           width:74%;
                           height:100%;
                           bottom:0;
                           right:0;
                           &#revhide{
                               display:none;
                           }
                           p{
                               float:right;
                                margin-top:30px;
                                span{
                                    font-size:20px;  
                                    margin-bottom:15px !important;                                   
                                }
                               i{
                                   margin:0 20px;
                                   color:#888;                                 
                                   &:first-child{
                                       font-size:29px;
                                       font-weight:bold;
                                   }
                                   &:last-child{
                                       font-size:34px;                                     
                                   }
                               }
                           }
                           span#id{
                                display:inline-block;
                                font-size:16px;
                                font-weight:bold;
                                margin-top:74px;
                           }
                       }
                    }                   
                }
            }
            
            .footer{
                width:100%;
                height:54px;
                display:flex;
                position:relative;
                border-top:1px solid #aaa;
                #money{
                    display:block;
                    position:absolute;
                    width:60%;
                    background:#fff;
                    bottom:2px;
                    left:14%;  
                    &.aaa{
                        display:none;
                    }                 
                }
                div{
                    &:nth-child(1){
                        height:100%; 
                        width:12%; 
                        div{
                            &:nth-child(1){
                                width:95%;
                                height:100%;
                                float:left;
                                padding-left:7px;
                                span{
                                    display:block;
                                    width:18px;
                                    height:18px;
                                    border:1px solid #aaa;
                                    border-radius:50%;
                                    margin:7px 0 2px 5px;
                                    div{
                                        width:10px;
                                        height:10px;
                                        background:#E5004F;
                                        margin:3px;
                                        border-radius:50%;
                                    }
                                }
                            }
                            &:nth-child(2){
                                width:1px;
                                height:80%;
                                background:#ccc;
                                margin-top:10%;
                                float:left;
                            }
                           
                        }
                    }
                    &:nth-child(2){
                        width:64%;
                        height:100%;
                        p{
                            margin-top:8px;
                            margin-left:10px;
                            color:black;
                            &:nth-child(1){
                                span{
                                    color:#E5004F;
                                    font-size:16px;
                                    font-weight:bold;
                                }
                            }
                             &:nth-child(2){
                                margin-top:-2px;
                            }
                        }
                    }
                    &:nth-child(3){
                        height:100%;  
                        width:24%; 
                        background:#E5004F;
                        font-size:18px;
                        color:white;
                        text-align:center;
                        line-height:54px;
                    }
                    &#mark{
                        width:87%;
                        height:100%;
                        position:absolute;
                        background:#fff;
                        top:0;
                        right:0;
                        display:none;
                        &.markhide{
                            display:block;
                        }
                        #delete{
                            width:80px;
                            height:38px;
                            border:1px solid #FF3B7F;
                            border-radius:6px;
                            color:#FF3B7F;
                            line-height:38px;
                            text-align:center;
                            float:right;
                            margin-right:12px;
                            margin-top:8px;
                            font-size:18px;
                        }
                    }
                }               
            }
        }
    }
}



